# Ignore all js
*.js

# Except these which are not compiled
!copy-config.js
!clean.js
!jest.config.js
!copy-dist.js

*.d.ts
node_modules

# CDK asset staging directory
.cdk.staging
cdk.out
cdk.context.json

*-config.ts
build
dist
.env
